.about-page,
.about-page * {
  box-sizing: border-box;
}
.about-page {
  background: #272154;
  height: 1024px;
  position: relative;
  overflow: hidden;
}
.bmgt-407 {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 32px;
  font-weight: 400;
  position: absolute;
  left: 128px;
  top: 117px;
}
.menu-items {
  display: flex;
  flex-direction: row;
  gap: 37px;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  left: 896px;
  top: 117px;
}
.homepage {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 32px;
  font-weight: 400;
  position: relative;
}
.about {
  color: #ffffff;
  text-align: left;
  position: relative;
}
.about-span {
  font-family: "Inter-Regular", sans-serif;
  font-size: 32px;
  font-weight: 400;
}
.about-span2 {
  font-family: "Inter-Regular", sans-serif;
  font-size: 12px;
  font-weight: 400;
}
.contact {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 32px;
  font-weight: 400;
  position: relative;
}
.body {
  display: flex;
  flex-direction: column;
  gap: 65px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 1015px;
  position: absolute;
  left: 128px;
  top: 305px;
}
.bmgt-407-info-systems-projects {
  color: #ffffff;
  text-align: left;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 60px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
}
.bmgt-407-is-the-capstone-course-for-information-systems-is-majors-the-class-happens-on-thursday {
  color: #ffffff;
  text-align: left;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 30px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
}
.professor-paul-t-shapiro {
  color: #ffffff;
  text-align: left;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 32px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
}
